@using System.Timers;

<div class="container">
    <div class="row clickable" @onclick="ToggleTimer">
        <div class="col-5">
            <div class="white-text big-text">
                @minutes.ToPaddedString()
            </div>
        </div>
        <div class="col-2">
            <div class="white-text big-text">
                :
            </div>
            <div id="ongoing-minute">
                @ongoingMinute
            </div>
        </div>
        <div class="col-5">
            <div class="white-text big-text" style="@GetSecondStyles()">
                @seconds.ToPaddedString()
            </div>
        </div>
    </div>

    <div id="time-adjustments" class="row white-text">
        <div class="col-5">
            <div class="row">
                <div class="col-4 adjustment-text">
                    MINUTES
                </div>
                <div class="col-4 adjustment" @onclick="SubtractMinute">
                    -
                </div>
                <div class="col-4 adjustment" @onclick="AddMinute">
                    +
                </div>
            </div>
        </div>
        <div class="col-2" />
        <div class="col-5">
            <div class="row">
                <div class="col-4 adjustment-text">
                    SECONDS
                </div>
                <div class="col-4 adjustment" @onclick="SubtractSecond">
                    -
                </div> 
                <div class="col-4 adjustment" @onclick="AddSecond">
                    +
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private const byte intermissionLengthInMinutes = 2;
    private byte minutes = 0;
    private byte seconds = 0;
    private string ongoingMinute = "1st MINUTE";
    private byte? startingMinutes;
    private Timer? timer;
    private bool intermissionOngoing;

    [Parameter]
    public EventCallback OnPeriodEnded { get; set; }

    [Parameter]
    public EventCallback OnIntermissionEnded { get; set; }

    protected override void OnInitialized()
    {
        timer = new Timer(1000);
        timer.AutoReset = true;
        timer.Enabled = false;
        timer.Elapsed += SecondPassed;
    }

    public void ToggleTimer()
    {
        if (!timer!.Enabled && !startingMinutes.HasValue && minutes > 0) startingMinutes = minutes;
        if (minutes > 0 || seconds > 0) timer!.Enabled = !timer.Enabled;
    }

    public void Reset()
    {
        minutes = startingMinutes.HasValue ? startingMinutes.Value : (byte) 0;
        seconds = 0;
        ongoingMinute = "1st MINUTE";
        intermissionOngoing = false;
        StateHasChanged();
    }

    public void StartIntermission()
    {
        minutes = intermissionLengthInMinutes;
        seconds = 0;
        ongoingMinute = "1st MINUTE";
        intermissionOngoing = true;
        ToggleTimer();
    }

    private string GetSecondStyles()
    {
        return minutes == 0 && seconds > 0 && !intermissionOngoing
            ? "color: red;"
            : "";
    }

    private async void SecondPassed(Object? source, ElapsedEventArgs e)
    {
        SubtractSecond();
        if (minutes == 0 && seconds == 0)
        {
            timer!.Enabled = false;
            if (intermissionOngoing) await OnIntermissionEnded.InvokeAsync();
            else await OnPeriodEnded.InvokeAsync();
        }
        StateHasChanged();
    }

    private void SubtractSecond()
    {
        if (seconds > 0) seconds--;
        else if (minutes > 0)
        {
            SubtractMinute();
            seconds = 59;
        }
    }

    private void AddSecond()
    {
        if (seconds < 59) seconds++;
        else 
        {
            AddMinute();
            seconds = 0;
        }
    }

    private void SubtractMinute()
    {
        if (minutes > 0)
        {
            minutes--;
            if (!intermissionOngoing) SetOngoingMinute();
        }
    }

    private void SetOngoingMinute()
    {
        if (startingMinutes.HasValue)
        {
            int remainingMinutes = startingMinutes.Value - minutes;
            string remainingMinutesText = remainingMinutes.ToString();
            string minutesPostfix = "th";
            if (remainingMinutesText.EndsWith("1") && !remainingMinutesText.EndsWith("11")) minutesPostfix = "st";
            if (remainingMinutesText.EndsWith("2") && !remainingMinutesText.EndsWith("12")) minutesPostfix = "nd";
            if (remainingMinutesText.EndsWith("3") && !remainingMinutesText.EndsWith("13")) minutesPostfix = "rd";
            ongoingMinute = remainingMinutes > 0 ? $"{remainingMinutesText}{minutesPostfix} MINUTE" : "1st MINUTE";
        }
    }

    private void AddMinute()
    {
        minutes++;
        if (!intermissionOngoing) SetOngoingMinute();
    }
}
