<div class="title" style="@titleStyle">
    @title
</div>
<div class="points">
    @Points.ToPaddedString()
</div>
<div class="row adjustments">
    <div class="col adjustment" @onmousedown="DecreasePoints" @onmousedown:preventDefault="true">
        -
    </div>
    <div class="col adjustment" @onmousedown="IncreasePoints" @onmousedown:preventDefault="true">
        +
    </div>
</div>

@code
{
    [Parameter]
    public bool IsHomeTeam { get; set; }

    private string? title;
    private string? titleStyle;

    protected override void OnParametersSet()
    {
        title = IsHomeTeam ? "HOME" : "AWAY";
        titleStyle = IsHomeTeam ? "text-align: left;" : "text-align: right;";
    }

    public byte Points { get; private set; } = 0;

    public void Reset()
    {
        Points = 0;
        StateHasChanged();
    }
    
    private void IncreasePoints()
    {
        Points++;
    }

    private void DecreasePoints()
    {
        if (Points > 0) Points--;
    }
}