@page "/"
@using BasketballScoreboard.Components

<PageTitle>Basketball Scoreboard</PageTitle>

<Buzzer @ref="buzzer" />

<div class="row">
    <div class="col-1">
        <TeamFouls @ref="homeTeamFouls" />
    </div>
    <div id="remaining-time" tabindex="0" class="col-10" @onkeydown="ToggleTimer">
        <RemaningTime @ref="remainingTime" OnPeriodEnded="ResetFoulsAndMoveToNexrPeriod" />
    </div>
    <div class="col-1">
        <TeamFouls @ref="awayTeamFouls"/>
    </div>
</div>

<div id="timeoutAndPeriodRow" class="row">
    <div class="col-1" />
    <div class="col-2">
        <Timeout OnTimeoutEnded="PlayBuzzer" />
    </div>
    <div class="col-1" />
    <div class="col-4">
        <Periods @ref="periods"/>
    </div>
    <div class="col-1" />
    <div class="col-2">
        <Timeout OnTimeoutEnded="PlayBuzzer" />
    </div>
    <div class="col-1" />
</div>

<div class="row">
    <div class="col-5">
        <TeamScore IsHomeTeam=true />
    </div>
    <div class="col-2" />
    <div class="col-5">
        <TeamScore IsHomeTeam=false />
    </div>
</div>

@code
{
    private RemaningTime? remainingTime;
    private TeamFouls? homeTeamFouls;
    private TeamFouls? awayTeamFouls;
    private Periods? periods;
    private Buzzer? buzzer;

    private void ToggleTimer(KeyboardEventArgs args)
    {
        remainingTime?.ToggleTimer();
    }

    private void PlayBuzzer()
    {
        buzzer?.Play();
    }

    private void ResetFoulsAndMoveToNexrPeriod()
    {
        PlayBuzzer();
        homeTeamFouls?.Reset();
        awayTeamFouls?.Reset();
        periods?.Next();
    }
}